

.profile {
    padding: 1rem;
}

.profile > h1 {
    text-align: center;
}

.data {
    display: flex;
}

.leftSide {
    padding: 1rem;
    margin-top: 1rem;
}

.rightSide {
    width: fit-content;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadImage {
    display: flex;
    flex-direction: column;
}

.uploadImage > p {
    font-size: 1rem;
    margin-top: -1rem;
}

.rightSide > img {
    border-radius: 50%;
}

.rightSide > svg {
    display: block;
    width: 10vh;
    height: 10vh;
}

.saveImageBtn {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    align-self: center;
}

.saveImageBtn > svg {
    width: 7vh;
    height: 7vh;
}


/* Web view */
@media (min-width: 430px) {
    .rightSide > svg {
        width: 7vh;
        height: 7vh;
    }
}