


.chatUsers {
    height: fit-content;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chatUser {
    border: solid black 1px;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.image {
    border-radius: 50%;
}

.popUp {
    min-width: 10rem;
    text-align: center;
    padding: 0.4rem;
    color: #e9e2e2;
}


/* Web view */
@media (min-width: 430px) {
    .chatUser {
        width: 6vh;
        height: 6vh;
    }
}