

.ChatRoom {
    display: flex;
    flex-direction: column;
    min-height: 74vh;
    max-height: 74vh;
    height: 74vh;
}

.Header {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.form {
    display: flex;
    margin-top: auto;
}

.formInput {
    height: 4rem;
    width: 70vw;
    border-radius: 50px;
}

.formBtn {
    background: transparent;
    border: none;
}

.formBtn > svg {
    display: block;
    width: 4.5vh;
    height: 4.5vh;
}

.closeBtn {
    background: transparent;
    border: none;
}

.closeBtn > svg {
    display: block;
    width: 3vh;
    height: 3vh;
}

.chatMessages {
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-top: 7%;
    max-height: 85%;
    min-height: 85%;
    height: 85%;
    overflow: overlay;
}

.error {
    color: #cf0a0a;
    position: absolute;
    bottom: 5rem;
    background-color: #ffffff63;
    margin-left: 6rem;
    border-radius: 50px;
    padding: 0.3rem;
}

.scrollbar::-webkit-scrollbar {
	width: 0.6rem;
}

/* Mobile view */
/*
The theme setup enforces the background color regardless of screen size
To fix that, this code hides it for the mobile first approach
*/
@media (max-width: 430px) {
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

/* Web view */
@media (min-width: 430px) {
    .Header {
        margin-top: 1vh;
    }
    .form {
        display: flex;
        position: relative;
        bottom: -1rem;
        right: -1rem;
        justify-content: flex-end;
    }
    .chatMessages {
        gap: 1rem;
        margin-top: 2rem;
        max-height: 64vh;
        min-height: 64vh;
        height: 64vh;
        padding-right: 1rem;
    }
}