

.main-page {
    height: 98vh;
    width: calc(100vw - 2vh);

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

/* Mobile view */
@media (max-width: 430px) {
    .main-page {
        height: 100vh;
        width: 100vw;
    }
  }

