


.home {
    padding: 1rem;
}

.header {
    display: flex;
}

.data {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.address {
    display: flex;
    width: 5rem;
}

.mainHeader {
    font-size: 6rem;
}


.mainImage {
    border-radius: 50%;
    border-top-right-radius: 0;
    width: 100%;
    height: 100%;
    max-width: 30vh;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
}

.buttons > button {
    width: fit-content;
}

.contactSvg {
    width: 3rem;
}

.contact {
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* Mobile view */
@media (max-width: 430px) {
    .data {
        display: block;
        margin-top: 5rem;
    }
    .mainImage {
        max-width: fit-content;
    }
  }