

.app {
  height: 98vh;

  padding-top: 2vh;
  padding-bottom: 2vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* http://192.168.1.115:3000 */
.app.regular {
  background: linear-gradient(90deg, rgba(44,72,84,1) 0%, rgba(167,124,124,1) 60%);
}
.app.dark {
}
.app.aria {
}

/* Mobile view */
@media (max-width: 430px) {
  .app {
      height: 100vh;
      width: 100vw;
  }
}

