:root {
  /* set the font size to 10px not 16 */
  font-size: 62.5%;

  --clr-text: #3d3d3d;
  --transition-delay-menu: visibility 0.15s, opacity 0.15s ease-in;
}

html {
  box-sizing: border-box; /*important*/
  color: var(--clr-text);
  /* Make the font as big as 16px again */
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 61%); */
  background: rgb(0, 0, 0);
  /* Make the font as big as 16px again */
  font-size: 1.6rem;
}

/* The margin: 0 from body, doesn't effect it's children */
h1, h2, h3, h4, p {
  margin: 0;
}

img {
  max-width: 100%;
}
