

.auth {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.control {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.emailAuth {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.googleAuth {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;}

.toggle {

}

.error {
    color: #b34545;
    border: solid 3px red;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.errorText {
    color: #b34545;
    width: fit-content;
    background: #ededed;
    border-radius: 0.4rem;
    padding: 0.3rem;
    border: solid 1px red;
}