

.chatMessage {

}

.leftSide {

}

.rightSide {
    align-self: flex-end;
}

.text {

}

.image {
    max-width: 60%;
    border-radius: 10px;
    margin-left: 40%;
}

/* Mobile view */
@media (max-width: 430px) {
    .moveFront {
        margin-right: 5rem;
    }
}