
/* All classes here should be responsible for the card styling.
  Any css, background or content, should be done from the component.
*/



.card {
  height: fit-content;
  width: fit-content;
  margin: 0;

  box-shadow: -1.5rem 1rem 1.5rem black;
  border-radius: 1.4rem;
  border: none;
  
  /* Default background */
  /* background-image: linear-gradient(90deg, rgba(251,129,57,1) 0%, rgba(9,100,121,1) 61%); */
  transition: box-shadow 0.15s ease-in-out;
}

/* .card:hover {
  transform: translateY(-5px) scale(1.048) translateX(-5px);
  box-shadow: -20px 10px 20px black;
} */

.card.app {
  margin: 1vh;
}

.card.navLeftItems {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);

}


.card.navRightItems {
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
  overflow: hidden;
}


.card.themes {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
  right: 5rem;
  top: -4rem;
}

.card.home {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}

.card.authForm {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}


.card.counter {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}

.card.chat {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}

.card.chatRooms {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}

.card.chatUsers {
  background-color: rgba(0,0,0,.2);

  position: fixed;
  right: 1rem;
  top: 30vh;
}

.card.profile {
  margin: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}

.card.meals-list {
  margin-top: 1rem;
  background-color: rgba(0,0,0,.2);
  position: relative;
}

.card.meals-list-item {
  background-color: rgba(0,0,0,.2);
  margin: 3rem;
}

.card.modal {

  position: relative;
  top: 25vh;

  background-color: rgb(255 255 255 / 70%);

  z-index: 100000;
}

.card.chatUsersHide {
  display: none;
}

.userPopUp {
  border-radius: 1rem;
  background-color: rgba(0,0,0,.2);
  padding: 0.4rem;
  position: absolute;
  right: 6vh;
}

/* Mobile view */
@media (max-width: 430px) {
  .card.app {
    box-shadow: none;
    border-radius: 0px;
    margin: 0;
  }

  .card.chatRooms {
    position: fixed;
    top: 12vh;
    left: 2rem;
  }
}